header {
  width: 100%;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  background-color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  
  h2{
    font-weight: 500;
    letter-spacing: 2px;

    &:nth-of-type(1) {
      font-size: 18px;
      color: #979bb4;
    }

    &:nth-of-type(2) {
      font-size: 14px;

      > span {
        color: #979bb4;
      }
    }
  }
}
.sticky-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  animation: SlideDown 1s ease-in-out;
  -webkit-animation: SlideDown 0.8s ease-in-out;
}

@keyframes SlideDown {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

main {
  background-color: #f8f8f8;

  h1 {
    color: #485c75;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .shopping-table {
    .shopping-table-title {
      border-bottom: 2px solid #dbe0e6;
      padding: 20px 0;

      p {
        color: #979bb4;
      }
    }

    .product-description {
      overflow: hidden;

      p {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #485c75;

        &:nth-of-type(1) {
          font-weight: 600;
          font-size: 17px;
        }

        &:nth-of-type(2) {
          font-weight: 500;
          font-size: 14px;
        }

        &:nth-of-type(3) {
          font-size: 12px;
          font-weight: 500;
          color: #485c7592;
        }
      }
    }
    .product-items {
      > div {
        border-bottom: 1px solid #dbe0e6;
      }
      .quantity-tab {
        button {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          font-weight: 600;
          color: #919cd4;
          font-size: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 1px 5px gray;
          user-select: none;
          i {
            display: inline-flex;
            font-size: 16px;
          }
        }
        .count {
          user-select: none;
        }
      }
    }
  }
}

.continue-shopping-btn {
  background-color: #dbe0e6;
  font-weight: 500;
  font-size: 15px;
  color: #485c75;
  letter-spacing: 1px;
}

.product-items-style {
  font-weight: 600;
  font-size: 15px;
  color: #485c75;
}

footer {
  background-color: #f8f8f8;
  p {
    color: #979bb4;
  }
  figure {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
